// _reset.scss
@use 'variables' as *;  // <- adiciona isso

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack; // agora $font-stack existe!
}

li {
  list-style: none;
}
