$font-family: 'Roboto', sans-serif;
$color-bg: #df8a195c;
$color-header-bg: #be5125d1;
$color-text: #2f3640;
$color-white: #ffffff;
$color-button: #44bd32;
$color-button-hover: #4cd137;
$max-width-desktop: 1024px;
$max-width-mobile: 80%;
$breakpoint-lg: 1023px;
$breakpoint-sm: 767px;
$spacing: 1rem;
$small-spacing: 0.5rem;
$border-radius-small: 8px;
$border-radius-large: 16px;