// Fontes
$font-stack: 'Roboto', sans-serif;

// Cores
$color-body-bg:   #f5f6fa;
$color-white:     #fff;
$color-header-bg: #182C61;
$color-btn-bg:    #44bd32;
$color-btn-hover: #4cd137;

// Espaçamentos
$spacing-base: 16px;

// Breakpoints
$bp-lg: 1024px;
$bp-md: 768px;
